langchain
langchain-community 
langchain-openai                                                 
faiss-cpu                                                                                        
selenium 
webdriver-manager 
beautifulsoup4                                                     
python-dotenv                                                                                   
gradio                                                                                           
ragas                                                                                            
rouge-score                                                                                     
spacy 
textstat 
nltk 
scikit-learn                                                                 
pandas 
numpy                                                                                    
jupyter 
ipykernel 
sentence-transformers